body{
    background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
    background-image: -webkit-linear-gradient(top, start-color, end-color);
    background-image: -moz-linear-gradient(top, start-color, end-color);
    background-image: linear-gradient(to bottom, start-color, end-color);
    }
.abilites{
    position: absolute;
    top: 300px;
    left: 200px;
    max-width: 15%;
    height: 15%;
}
.abilites2{
    position: absolute;
    top: 400px;
    left: 300px;
    max-width: 15%;
    height: 15%;
}